<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find All Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <table style="width: 100%">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i<dataList.length; i++) { %>
        <tr>
            <td><%= dataList[i].email %></td>
            <td><%= dataList[i].firstName %></td>
            <td><%= dataList[i].lastName %></td>
            <td><%= dataList[i].address %></td>
            <td>
                <a href="/edit-crud?id=<%= dataList[i].id %>">Edit</a>
                <a href="/delete-crud?id=<%= dataList[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>